jsontosoapenvelope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="jsontosoapenvelopeFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="**Payload1** #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="bb07189c-45ab-4fd5-aa73-f566f8dd83ef">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	Details: {
		name: payload.Details.name,
		Org: payload.Details.Org,
		city: payload.Details.city,
		country: payload.Details.country,
		loc: payload.Details.loc
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="**Payload2** #[payload]" level="INFO" doc:name="Logger"/>
        <mulexml:xslt-transformer xsl-file="soap.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT"/>
        <logger message="**Payload 3**  #[payload]" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="**Payload 4** #[payload]" level="INFO" doc:name="Logger"/>
        <logger message="**The End**" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
